[Unit]
Description=Controller Service

[Install]
WantedBy=default.target

[Service]
Type=simple
WorkingDirectory=/home/pi/pi-remote-backend/
ExecStart=/bin/python3 main.py
Restart=always
Environment=PYTHONUNBUFFERED=1